@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Open Sans;

}

p {
    font-size: 16px;
    color: #092337;

}

.section-p1 {
    padding: 20px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: #092337;
    background-color: #96A9AD;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease-in;
}

button.white {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    color: #092337;
    background-color: #FCC538;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #092337;
    outline: none;
    transition: 0.2s ease-in;
}

button.white2 {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    color: #092337;
    background-color: #96A9AD;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #092337;
    outline: none;
    transition: 0.2s ease-in;
}

body {
    background-color: rgb(225, 225, 218);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px 10px;
    max-width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h3 {
    display: flex;
    color: #092337;
    font-size: 2vw;
    padding: 0;
}

.logo img {
    padding: 0 0;
    height: 18vh;
}

.navigation {
    margin-left: 15vw;
}

.navigation a {
    text-decoration: none;
    font-family: "Source Serif 4";
    text-shadow: 3px 3px black;
    color: #E1E1DA;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    font-size: 2vw;
    transition: 3s ease-in;
}

.navigation a:hover {
    font-size: 2.5vw;
    text-shadow: 3px 3px black;
    
}

header #close {
    display: none;
}

header #mobile {
    display: none;
    align-items: center;
}

.parallax {
    background-image: url(images/bg.jpeg);
    background-position: 0%;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax #text {
    position: absolute;
    font-size: 5em;
    color: #E1E1DA;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.803);
    align-self: center;
    transition: 0.4s ease;

}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    border-radius: 8px;
    position: relative;
    background-color: rgb(225, 225, 218);
    background: url(images/ear.webp) rgb(225, 225, 218);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
    margin: 5px 0;
    overflow: scroll;
}

.sec .sec2 {
    font-size: 10vh;
    font-weight: 600;
    margin: 50px 100px 50px;
    margin-bottom: 50px;
    opacity: 100%;
    font-family: montserrat;
    color: #092337;

}

.sec p {
    font-size: 16px;
    line-height: 1.5;
    width: 45vw;
    padding: 0 80px 80px 80px;
    max-width: 35vw;
    opacity: 200%;
}

.sec .sect {
    background-color: rgba(238, 238, 236, 0.5);
    max-width: 48vw;
    padding: 20px;
}

#fea {
    margin: 20px;
    text-align: center;
}

#fea h2 {
    font-size: 50px;
    padding: 20px;
    padding-top: 40px;
}

#fea p {
    font-size: 20px;
    padding: 0 20px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    max-height: 50vh;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: hidden;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    border: 1px solid #092337;
    border-radius: 4px;
    margin: 15px 0;

}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.03);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 5px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1.5;
    font-size: 15px;
    border-radius: 4px;
    color: #092337;
    background-color: #FCC538;
}

#product1 {
    text-align: center;
}

#product1 h2 {
    font-size: 50px;
    padding: 20px;
}

#product1 p {
    font-size: 20px;
    padding: 0 20px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

#product1 .pro {
    width: 18vw;
    height: 55vh;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #092337;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 1px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro a{
    text-decoration: none;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

#product1 .pro img {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
}

#product1 .pro .das {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .das span {
    color: #96A9AD;
    font-size: 12px;
}

#product1 .pro .das h5 {
    padding-top: 7px;
    color: #092337;
    font-size: 14px;
}

#product1 .pro .das i {
    font-size: 12px;
    color: #FCC538;
}

#product1 .pro .das h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #092337;
}

#product1 .pro #cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #FCC538;
    font-weight: 500;
    border: 1px solid #092337;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: 0.2s ease-in-out;
}

#product1 .pro #cart img {
    width: 30px;
    height: 30px;
    padding: 4px;
}

#product1 .pro #cart:hover {
    width: 45px;
    height: 45px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/bg.avif");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

#banner h4 {
    color: #E1E1DA;
    font-size: 20px;
    padding: 10px 0;
}

#banner h2 {
    color: #E1E1DA;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #FCC538;
    font-size: 30px;
    padding: 10px 20px;
}

#banner button {
    margin: 20px;
}

#banner button.normal:hover {
    color: #092337;
    background-color: #E1E1DA;
    font-weight: bolder;
}

#sm-banner {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/banner.png");
    min-width: 700px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: 20px;
}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/banner2.png");
    min-width: 400px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: 20px;
}

#sm-banner h4 {
    color: #092337;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #092337;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #092337;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0;
}

#sm-banner button.white:hover {
    color: #FCC538;
    background-color: #092337;
}

#sm-banner button.white2:hover {
    color: #96A9AD;
    background-color: #092337;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    height: 10vh;
    margin-bottom: 0;


}

footer .col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1vw;
    padding: 0;

}


footer .logo {
    margin-bottom: 50px;
    height: 1vw;
    padding: 0;

}

footer h4 {
    font-size: 2vw;
    margin: 0;
    margin-bottom: 1vw;
}

footer p {
    font-size: 1vw;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 1vw;
    text-decoration: none;
    color: #092337;
    margin-bottom: 1vw;
}

footer .follow i {
    color: #96A9AD;
    padding-right: 1vw;
    font-size: 1vw;
    cursor: pointer;
}

/* media query */

@media (max-width: 799px) {
  
    header {
        justify-content: space-between;
        width: 90%;
    }

    .section-p1{
        padding: 20px 20px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color: #E1E1DA;
        box-shadow: rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }

    .navigation a {
        color: #092337;

    }

    .navigation a:hover {
        color: #E1E1DA;
        background-color: #092337;
    }


    header #close {
        display: none;
    }

    .navigation.active {
        right: 0;
    }

    .navigation.active #close {
        display: flex;
    }

    .navigation a {
        margin-bottom: 25px;
    }

    header #mobile {
        display: flex;
        align-items: center;
    }

    header #mobile i {
        color: #092337;
        font-size: 24px;
        padding-left: 20px;
    }

    .sec {
        height: 60vh;
        overflow: scroll;
        align-items: center;
    }

    .sec .sect {
        max-width: 100%;
        font-size: smaller;
    }

    .sec .sect .sec2 {
        font-size: xx-large;
        padding: 0%;
        margin: 0%;
        margin-bottom: 4px;
    }

    .sec p {
        font-size: smaller;
        max-width: 100%;
        width: 100%;
        padding: 0%;
    }

    #fea h2 {
        font-size: 5vw;
    }

    #fea {
        padding: 0%;
    }

    #feature {
        padding-top: 4px;
        padding: 0%;
    }

    #feature .fe-box {
        width: 12vw;
        height: 15vw;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
        border: 1px solid #092337;
        border-radius: 4px;
        margin: 15px 0;
    }

    #feature .fe-box img {
        width: 11vw;
    }

    #feature .fe-box h6 {
        font-size: 1vw;
    }

    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 40px;
        height: 70vh;
        overscroll-behavior-x: contain;
        overflow: auto;
        overflow-y: hidden;
        flex-direction: column;
    }

    #product1 .pro {
        margin-right: 20px;
    }

    #sm-banner{
        justify-content: space-between;
    }

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("images/banner.png");
        min-width: 40vw;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
        margin: 0;
    }
    #sm-banner span {
        color: #092337;
        font-size: 14px;
        width: 50%;
        font-weight: 500;
        padding: 15px 0;
        line-height: 1.5;
    }

    #sm-banner .banner-box2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(images/banner2.png);
        min-width: 35vw;
        height: 30vh;
        background-size: cover;
        background-position: center;
        margin: 0;
    }

    footer .logo {
        margin-bottom: 50px;
        height: 9vh;
        padding: 0;
    }

        footer .contact{
            font-size: smaller;
        }

        footer .follow{
            font-size: smaller;
        }

        footer .col{
            font-size: smaller;
        }

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .sec {
        height: 60vh;
        align-items: center;
    }

    .sec .sect {
        max-width: 100%;
        font-size: smaller;
    }

    .sec .sect .sec2 {
        font-size: xx-large;
        padding: 0%;
        margin: 0%;
        margin-bottom: 4px;
    }

    .sec p {
        font-size: smaller;
        max-width: 100%;
        width: 100%;
        padding: 0%;
    }

    #fea h2 {
        font-size: 5vw;
    }

    #fea {
        padding: 0%;
    }

    #feature {
        padding-top: 4px;
        padding: 0%;
    }

    #feature .fe-box {
        width: 12vw;
        height: 15vw;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
        border: 1px solid #092337;
        border-radius: 4px;
        margin: 15px 0;
    }

    #feature .fe-box img {
        width: 11vw;
    }

    #feature .fe-box h6 {
        font-size: 1vw;
    }

    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 40px;
        height: 70vh;
        overscroll-behavior-x: contain;
        overflow: auto;
        overflow-y: hidden;
        flex-direction: column;
    }

    #product1 .pro {
        margin-right: 20px;
    }

    
    #sm-banner{
        justify-content: space-between;
    }

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("images/banner.png");
        min-width: 35vw;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
        margin: 0;
    }
    #sm-banner span {
        color: #092337;
        font-size: 14px;
        width: 50%;
        font-weight: 500;
        padding: 15px 0;
        line-height: 1.5;
    }

    #sm-banner .banner-box2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(images/banner2.png);
        min-width: 30vw;
        height: 30vh;
        background-size: cover;
        background-position: center;
        margin: 0   ;
    }

    footer .logo {
        margin-bottom: 50px;
        height: 9vh;
        padding: 0;
    }

        footer .contact{
            font-size: smaller;
        }

        footer .follow{
            font-size: smaller;
        }

        footer .col{
            font-size: smaller;
        }
}



    @media (min-width: 1200px){
        #fea h2 {
            font-size: 5vw;
        }

        #fea {
            padding: 0%;
        }

        #feature {
            padding-top: 4px;
            padding: 0%;
        }

        #feature .fe-box {
            width: 12vw;
            height: 15vw;
            text-align: center;
            padding: 25px 15px;
            box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
            border: 1px solid #092337;
            border-radius: 4px;
            margin: 15px 0;
        }

        #feature .fe-box img {
            width: 11vw;
        }

        #feature .fe-box h6 {
            font-size: 1vw;
        }

        #product1 .pro-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 40px;
            height: 70vh;
            overscroll-behavior-x: contain;
            overflow: auto;
            overflow-y: hidden;
            flex-direction: column;
        }

        #product1 .pro {
            margin-right: 20px;
        }

        
        #sm-banner{
            justify-content: space-between;
        }

        #sm-banner .banner-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-image: url("images/banner.png");
            min-width: 40vw;
            height: 30vh;
            background-size: cover;
            background-position: center;
            padding: 30px;
            margin: 0;
        }
        #sm-banner span {
            color: #092337;
            font-size: 14px;
            width: 50%;
            font-weight: 500;
            padding: 15px 0;
            line-height: 1.5;
        }

        #sm-banner .banner-box2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url(images/banner2.png);
            min-width: 35vw;
            height: 30vh;
            background-size: cover;
            background-position: center;
            margin: 0   ;
        }

        footer .logo {
            margin-bottom: 50px;
            height: 9vh;
            padding: 0;
        }

            footer .contact{
                font-size: smaller;
            }

            footer .follow{
                font-size: smaller;
            }

            footer .col{
                font-size: smaller;
            }
    }

